* {
    margin: 0%;
    padding: 0%;
}

header {
    /* border: 1px solid black; */
    padding: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 24px;
    font-family: 'Square Peg', cursive;
    color: brown;
    background-color: rgba(255, 153, 0, 0.445);
}

p {
    text-align: center;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
}

section {
    margin: 1%;
    padding: 13px;
}

.image{
    background-image: url(https://www.sabornamesa.com.br/media/k2/items/cache/c3562f2e9521020de502f370ac3fbe48_XL.jpg);
    border-radius: 5px;
    height: 30%;
    padding: 10px;
}

.description {
    background-color: rgba(240, 209, 209, 0.3);
    border-radius: 5px;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    max-width: 100%;
    max-height: 80%;
    padding: 20px 40px;
}

.checklist,
li {
    margin-left: 2%;
    line-height: 150%;

}